body{
  
        font-family: system-ui;
    background: linear-gradient(120deg, #181940 0%, #fcb69f 100%);
    /* color: #181940; */
    line-height: 2;
    width: 600px;
    margin: 0 auto;
    line-height: 2;
    letter-spacing: 1.5px;

}
.content{
    padding: 20px;
        background-color: #fff;
    width: 500px;
}
.contenth{
    
    text-align: center;
    text-decoration: underline;
    background-color: #fcb69f;
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: bolder;
        letter-spacing: 2px;
        padding: 10px 0 ;

}
.contentp{
   background-color: #f7f7fa;
}
.first h4{
    text-decoration: underline;
    color:  #ee805b;
}
.second h4{
    text-decoration: underline;
    color:  #ee805b;
}
.three h4{
    text-decoration: underline;
    color:  #ee805b;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.four h4{
    text-decoration: underline;
    color:  #ee805b;
}
.five h4{

    text-decoration: underline;
    color:  #ee805b;
}
.finally h4{
    text-decoration: underline;
    color:  #ee805b;
}
.finally p{
    text-align: center;
}


